@model WcfAESJobs.Client.WebService.Question

@{
    ViewBag.Title = "Delete";
}

<div class="curveunderheader"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Delete Question</div>
<br />

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <h5>@ViewBag.StatusMessage</h5>
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionTitle)
        </dd>
        <dt>
            Full Question
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullQuestion)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> &nbsp;
            @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default"})
        </div>
    }
</div>
